body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: sans-serif;
  text-align: center;
}

#iscn-page-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding: 0.5em 2vw 4em;
}

#iscn-page-footer {
  border-top: 1px solid #ccc;
  padding: 0.5em;
}

#iscn-qr-code {
  margin-top: 0.5em;
}

#iscn-prefix {
  font-size: 0.75em;
  font-family: monospace;
  word-break: break-all;
}
